
# build output
# dependencies
# editor config
# generated types
# logs
# private config
**/.vscode/
.astro/
.env
.vercel/
.vs/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
